In [28]:
!pip install pymongo

import os
import datetime
import pymongo
import pprint
import pandas as pd

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [29]:
host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "sakila"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"

In [30]:
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/sakila

In [31]:
#Exercise 1:
client = pymongo.MongoClient("mongodb+srv://sanket:sanket@atlascluster.jvpwdca.mongodb.net/")
print("Databases:", client.list_database_names())

Databases: ['admin', 'local']

In [32]:
#Exercise 2:
db_name = 'Sanket_class'
db = client[db_name]
print("Collections in", db_name, "database:", db.list_collection_names())

Collections in Sanket_class database: []

In [33]:
#Exercise 3:
students = db.students

students.insert_one({
    "name": "Sanket",
    "age": 19,
    "major": "Computer Science",
    "university": "UVA",
    "year": 2
})


students.insert_many([
    {"name": "X", "age": 20, "major": "CS"},
    {"name": "Y", "age": 20, "major": "CS"},
    {"name": "Z", "age": 19, "major": "CS"}
])

InsertManyResult([ObjectId('65ff81beda8b53d83e6d5759'), ObjectId('65ff81beda8b53d83e6d575a'), ObjectId('65ff81beda8b53d83e6d575b')], acknowledged=True)

In [34]:
#Exercise 4:
print("All students:")
for x in students.find():
    print(x)

print("Student named X:")
print(students.find_one({"name": "X"}))

All students:
{'_id': ObjectId('65ff81beda8b53d83e6d5758'), 'name': 'Sanket', 'age': 19, 'major': 'Computer Science', 'university': 'UVA', 'year': 2}
{'_id': ObjectId('65ff81beda8b53d83e6d5759'), 'name': 'X', 'age': 19, 'major': 'CS'}
{'_id': ObjectId('65ff81beda8b53d83e6d575a'), 'name': 'Y', 'age': 19, 'major': 'CS'}
{'_id': ObjectId('65ff81beda8b53d83e6d575b'), 'name': 'Z', 'age': 19, 'major': 'CS'}
Student named X:
{'_id': ObjectId('65ff81beda8b53d83e6d5759'), 'name': 'X', 'age': 19, 'major': 'CS'}

In [37]:
#Exercise 5:

students.update_one({"name": "Sanket"}, {"$set": {"year": 3}})

students.update_many({"major": "CS"}, {"$set": {"status": "Second-Year"}})

UpdateResult({'n': 3, 'electionId': ObjectId('7fffffff000000000000086a'), 'opTime': {'ts': Timestamp(1711243893, 58), 't': 2154}, 'nModified': 3, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711243893, 58), 'signature': {'hash': b'F)\x949\xe0|ml\xa6\xa6\x98\xbc\xa4\xffk\xad\xf3v:]', 'keyId': 7304147019960942594}}, 'operationTime': Timestamp(1711243893, 58), 'updatedExisting': True}, acknowledged=True)

In [39]:
#Exercise 6:

students.delete_one({"name": "Z"})

students.delete_many({"age": 20, "major": "CS"})

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff000000000000086a'), 'opTime': {'ts': Timestamp(1711243973, 45), 't': 2154}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711243973, 45), 'signature': {'hash': b'\xc8-\xe7\xa3h\x84\xe7\t\x1f\x0b\xe72$U\xe5A\x0c$4g', 'keyId': 7304147019960942594}}, 'operationTime': Timestamp(1711243973, 45)}, acknowledged=True)